<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!--
    Center of buoyancy according to eq. (3.1) p. 28 in Berg2012.
    The original values, [0.0822, -0.00773, 0.3872] however, seem to
    assume NWU (otherwise cob is below cog?).
    -->
    <xacro:property name="cob" value="0.0 0.0 0.05"/>

    <!-- Volume, see p.31 in Berg2012 -->
    <xacro:property name="volume" value="0.5"/>

    <xacro:macro name="anahita_hydro_model" params="namespace">
        <link name="${namespace}/base_link">
            <neutrally_buoyant>1</neutrally_buoyant>
            <volume>${volume}</volume>
            <box>
                <width>0.5</width>
                <length>1.0</length>
                <height>0.4</height>
            </box>
            <center_of_buoyancy>${cob}</center_of_buoyancy>
            <hydrodynamic_model>
                <type>fossen</type>
                <!-- Added mass: see p.28 in Berg2012 -->
                <added_mass>
                     379.79 -3.8773 -53.32  4.5426 -85.54 -3.8033
                    -3.8773    622   25.29  209.44 -2.8488  32.726
                    -53.32   25.29  1859.9  3.1112 -196.42  5.774
                     4.5426  209.44  3.1112   264.9 -5.027  11.019
                    -85.54 -2.8488 -186.42 -5.027  442.69 -1.1162
                    -3.8033  32.726  5.775  11.019 -1.1162  114.32
                </added_mass>
                <!-- Linear damping: see p.31 in Berg2012 -->
                <linear_damping>
                    -34.82 -39.48 -368.4 -138.8 -159.77 -55
                </linear_damping>
                <!-- Non-linear damping: see p.30 in Berg2012 -->
                <quadratic_damping>
                    -378.22 -502.53 -921.01 -342 -394.44 -263.27
                </quadratic_damping>
            </hydrodynamic_model>
        </link>
    </xacro:macro>

</robot>
