<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- DVL -->
  <xacro:default_dvl_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="-0.219097 -0.04 -0.312" rpy="0 ${0.5*pi} 0"/>
  </xacro:default_dvl_macro>

  <!-- Pressure  -->
  <xacro:default_pressure_macro namespace="${namespace}" parent_link="${namespace}/base_link">
    <origin xyz="0 0 -0.370" rpy="0 0 0"/>
  </xacro:default_pressure_macro>

  <!-- IMU  -->
  <xacro:default_imu_macro
    namespace="${namespace}"
    parent_link="${namespace}/base_link"
    inertial_reference_frame="${inertial_reference_frame}">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:default_imu_macro>

  <!-- Stereo -->
  <xacro:duo3d_camera
    namespace="${namespace}"
    parent_link="${namespace}/base_link">
    <origin xyz="0.459063 -0.02119 -0.1124" rpy="0 0 0" />
  </xacro:duo3d_camera>

  <!-- Front Camera -->
  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="front">
    <origin xyz="0.459063 -0.02119 -0.1724" rpy="0 0 0"/>
  </xacro:default_camera>

  <!-- Bottom Camera -->
  <xacro:default_camera namespace="${namespace}" parent_link="${namespace}/base_link" suffix="bottom">
    <origin xyz="0.049983 -0.02119 -0.379224" rpy="0 1.5714285714 0"/>
  </xacro:default_camera>

</robot>
